@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>USCS System</h1>
    <p class="lead">Please log in using your network user name and password.
Once logged in, the main menu will allow access to the USCS system.</p>
</div>